<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :post_id %>
  <div>
      <%= form.label :body%>
      <%= form.text_field :body, class: "form-control", rows: 3 %>
  </div>
    <%= form.submit %>
<% end %>
