<div>
  <div>
    <div class="d-flex flex-wrap align-items-center">
      <h1 class="ysabeau-sc me-2">
        <%= @hobby.name.downcase %> 
      </h1>
      <%= render "hobby_follows/form", hobby_follow: @hobby.hobby_follows.build %>
    </div>
    <div>
      <%= link_to hobbies_path, :class => "d-flex flex wrap link-color ysabeau-sc" do %>
        <i class="fa-solid fa-chevron-left align-self-center mx-2"></i> <h4>hobbies</h4>
      <% end %>

      <!--<div>
        <a href="/delete_hobby/<%= @hobby.id %>">
          Delete hobby
        </a>-->
      
    </div>
  </div>
</div>


<%= render "posts/form", post: @hobby.posts.build%>


  <% @hobby.posts.all.each do |post| %>
    <%=render "posts/posts", post: post%>
  <% end %>
   
  


<!--<div>
  <div>
    <h2>
      Edit hobby
    </h2>

    <form action="/modify_hobby/<%= @hobby.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @hobby.name %>">
      </div>

      <button>
        Update hobby
      </button>
    </form>
  </div>
</div>-->
