<div>
  <div>
    <h1>
      Hobby #<%= @the_hobby.id %> details
    </h1>

    <div>
      <div>
        <a href="/hobbies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_hobby/<%= @the_hobby.id %>">
          Delete hobby
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_hobby.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_hobby.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_hobby.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit hobby
    </h2>

    <form action="/modify_hobby/<%= @the_hobby.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_hobby.name %>">
      </div>

      <button>
        Update hobby
      </button>
    </form>
  </div>
</div>

<hr>
