<div>
  <div>
    <div class="d-flex flex-wrap align-items-center">
      <h1 class="ysabeau-sc me-2">
        <%= @hobby.name.downcase %> 
      </h1>
      <%= render "hobby_follows/form", hobby_follow: @hobby.hobby_follows.build %>
    </div>
    <div>
      <%= link_to hobbies_path, :class => "d-flex flex wrap link-color ysabeau-sc" do %>
        <i class="fa-solid fa-chevron-left align-self-center mx-2"></i> <h4>hobbies</h4>
      <% end %>

      <!--<div>
        <a href="/delete_hobby/<%= @hobby.id %>">
          Delete hobby
        </a>-->
      
    </div>
  </div>
</div>


<%= render "posts/form", post: @hobby.posts.build%>

  <% @hobby.posts.all.each do |post| %>
    <div class="card px-5 py-2 my-5 mx-5 d-flex better-colors" >
      <div class="card-body">
        <span class="d-flex justify-content-end px-2">
          <%= link_to post_path(post.id), :class => "link-color" do%>
          <i class="fa-solid fa-chevron-right"></i>
          <% end %>
        </span>
        <span class="d-flex align-items-center">
        <img src="<%=post.poster.image%>" class="mx-3" style="height: 2.5em; border-radius: 50px">
        <p class="card-text ps-3 trix-content"><%=post.content%></p>
        </span>
        <p class="card-text d-flex justify-content-between text-center"><small><%=post.poster.username%></small><small class="accent-text"><%=time_ago_in_words(post.created_at)%> ago</small></p>
      </div>
    <!--<img src="..." class="card-img-bottom" alt="...">-->
  </div>
  <% end %>
   
  


<!--<div>
  <div>
    <h2>
      Edit hobby
    </h2>

    <form action="/modify_hobby/<%= @hobby.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @hobby.name %>">
      </div>

      <button>
        Update hobby
      </button>
    </form>
  </div>
</div>-->
