<%= form_with(model: post) do |form| %>
  <%= form.hidden_field :hobby_id %>
  <div class="trix-content">
      <%= form.label :content, style: "display: block"%>
      <%= form.rich_text_area :content %>
  </div>
    <%= form.submit %>
<% end %>
