
    <div class="card d-flex my-3 better-colors post-border" >
      <div class="card-body">
        <span class="d-flex justify-content-end px-2">
          <%= link_to post_path(post.id), :class => "link-color" do %>
          <i class="fa-solid fa-chevron-right"></i>
          <% end %>
        </span>
        <div class="d-flex align-items-start">
        <%= image_tag post.poster.image, class:"mx-3 post-img" if post.poster.image.attached? %>
        <!--<img src="<%=post.poster.image %>" class="mx-3 post-img">-->
        <span>
          <p class="rubik"><%=post.poster.username%></p>
          <p class="card-text ps-3 rubik"><%=post.content%></p>
        </span>
        </div>
        <p class="card-text d-flex justify-content-end"><small class="accent-text rubik"><%=time_ago_in_words(post.created_at)%> ago</small></p>
      </div>
    </div>
  
