<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= post.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hobby:</strong>
    <%= post.hobby_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= post.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= post.image %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Like counter:</strong>
    <%= post.like_counter %>
  </p>

</div>
