<div class="card px-5 mx-5 d-flex better-colors border-bottom">
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <div class="d-flex">
      <img src="<%=@post.poster.image%>" class="border-rounded" style="width: 3em">
      <h5 class="card-title align-self-center"><%=@post.poster.username%></h5>
    </div>
    <p class="card-text py-2 px-5"><%=@post.content%></p>
    <p class="card-text d-flex justify-content-end"><small class="d-flex align-self-center accent-text"><%= time_ago_in_words(@post.created_at) %> ago</small></p>
    </div>
    <div class="d-flex">
      <div class="px-5">
        <a href="/hobbies/<%=@post.hobby_id%>" class="link-color">
          Go back
        </a>
      </div>

      <div>
        <%= link_to edit_post_path(@post), :class => "link-color" do%>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>  
      </div>
      <div>
        <%= link_to post_path, :method => :delete, :class => "link-color" do%>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>  
      </div>
    </div>
</div>

<div class="d-flex justify-content-between"><h3>Comments</h3> 
<div class="container mx-5 py-2">
  <% @post.comments.all.each do |comment| %>
    <div class="card my-3 better-colors border-bottom border-left">
      <div class="card-body">
        <p class="card-text"><%=comment.body%></p>
        <p class="card-text d-flex justify-content-between "><small><%=comment.poster.username%></small><small class="accent-text"><%=time_ago_in_words(comment.created_at)%> ago</small></p>
      </div>
    </div>
  <% end %>
</div>
