
<%= render @post %>
<!--<div>
  <div>
    <h1>
      Post #<%= @post.id %> details
    </h1>

  <div class="card px-5 mx-5 d-flex">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><img src="<%=@post.poster.image%>" class="pe-2" style="height: 2.5em; border-radius: 50px"><%=@post.poster.username%></h5>
      <p class="card-text py-2 px-5"><%=@post.body%></p>
      <p class="card-text d-flex justify-content-end"><small class="d-flex align-self-center text-muted"><%= time_ago_in_words(@post.created_at) %> ago</small></p>
    </div>
  </div>


    <div>
      <div>
        <a href="/hobbies/<%=@post.hobby_id%>">
          Go back
        </a>
      </div>

      <div>
        <%= link_to post_path, :method => :delete do%>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        
      </div>
    </div>

    

<hr>


<div>
  <div>
    <h2>
      Edit post
    </h2>


    <%= form_with(model: @post) do |form| %>
      <div>
        <%= form.label :body, style: "display: block"%>
        <%= form.text_field :body%>
      </div>
      <%= form.submit %>
    <% end %>

  </div>
</div>

<hr>
<div class="d-flex justify-content-between"><h3>Comments</h3> 
<div class="container mx-5 py-2">
  <% @post.comments.all.each do |comment| %>
    <div class="card my-3">
      <div class="card-body">
        <p class="card-text"><%=comment.body%></p>
        <p class="card-text d-flex justify-content-between "><small><%=comment.poster.username%></small><small class="text-body-secondary"><%=time_ago_in_words(comment.created_at)%> ago</small></p>
      </div>
    <img src="..." class="card-img-bottom" alt="...">
    </div>
  <% end %>
  <form action="/insert_comment" method="post">
    <input name="query_user_id" type="hidden" value="<%=current_user.id%>">
    <input name="query_post_id" type="hidden" value="<%=@post.id%>"> 
    <textarea id="body_box" name="query_body" rows="3"></textarea>
    <button>
        Create comment
      </button>
  </form>-->
  

  <%= render "comments/form", comment: @post.comments.build%>

</div>
