<!DOCTYPE html>
<html>
  <head>
    <title>HobbyShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>
    
  </head>

  <body class="better-colors">
    <%= render partial: "shared/navbar" %>
    <p class="notice-style rubik mx-5"><%= notice %></p>
    <div class="mx-5">
    <%= yield %>
    </div>
  </body>
</html>
